# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\V_Project\LearnZhh4096\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
